PORT=3033
NODE_ENV=development

# AWS SES Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SES_SENDER_EMAIL=sesaas@jagadeeswar.dev
DOMAIN=jagadeeswar.dev

# Authentication (Fixed secret password required in API requests)
SECRET_PASSWORD=your_fixed_secret_password
